.jobs-container-list {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #2c364c;
  min-width: 330px;
  margin-bottom: 10px;
  border-radius: 15px;
}
@media (min-width: 576px) {
  .job-container-list {
    display: flex;
    flex-direction: row;
    padding-left: 18px;
    padding-right: 13px;
    background-color: #2c364c;
    width: 100%;
    margin: 10px;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 10px;
  }
}

.job-detail-img-container {
  display: flex;
  align-items: center;
}
.company-logo {
  height: 38px;
  width: 38px;
  margin-top: 2px;
}
@media (min-width: 576px) {
  .company-logo {
    height: 70px;
    width: 70px;
    margin-top: 8px;
  }
}
.text-container {
  padding-left: 10px;
}
@media (min-width: 576px) {
  .text-container {
    padding-left: 15px;
  }
}
.title {
  font-family: Roboto;
  font-size: 23px;
  line-height: 0.5;
  color: #ffffff;
}
@media (min-width: 576px) {
  .title {
    font-size: 28px;
  }
}
.rating-con {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 10px;
}
.rating {
  font-family: Roboto;
  font-size: 20px;
  color: #ffffff;
  padding-left: 8px;
  font-weight: 500;
}
@media (min-width: 576px) {
  .rating {
    font-size: 25px;
  }
}
.font-color {
  color: yellow;
  font-size: 18px;
}
@media (min-width: 576px) {
  .font-color {
    font-size: 30px;
  }
}
.add-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
/* Hex: #64748b
Hex: #4f46e5
Hex: #f8fafc
Hex: #272727
Hex: #ffffff
Hex: #b6c5ff
Hex: #6366f1
Hex: #2c364c
Hex: #000000
Hex: #f1f5f9
Hex: #fbbf24
Hex: #202020
Hex: #cbd5e1
Hex: #7e858e
Hex: #121212
Hex: #475569
Hex: #ff0b37 */

.address {
  font-family: Roboto;
  font-size: 20px;
  color: #b6b9bd;
  padding-right: 20px;
  font-weight: 450;
}
.add-font {
  color: #ffffff;
  padding-right: 8px;
  font-size: 28px;
}
.horizon {
  background-color: #32344b;
  border: 1px solid #ffffff;
  width: 100%;
}
.desc-heading {
  font-family: Roboto;
  font-size: 25px;
  color: #ffffff;
  line-height: 1;
}
.description {
  font-family: Roboto;
  font-size: 18px;
  color: #b6b9bd;
  line-height: 1.7;
  margin-top: 0px;
}
@media (min-width: 576px) {
  .description {
    font-size: 18px;
  }
}
